:root {
    --card-title-border-color: #746615;
    --card-color-primary: #F4DD43;
    --card-bg-color: #1D1C19;
    --bg-color: #121214;
    --li-border-color: #323238;
    --game-hour-color: #E1E1E6;
}